.section1 {
    font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, sans-serif;
    position: relative;
    overflow: hidden;
    text-align: center;
    white-space: pre-line;

}

.section1 .header {
    padding: var(--space-top-hero-section) var(--space-16) 0;
    margin-bottom: -10rem;
    position: relative;
    margin-top: var(--space-48);
}

.heading {
    --curr-font-size: var(--heading-4xl-font-size);
    --curr-line-height: var(--heading-4xl-line-height);
    --curr-letter-spacing: var(--heading-4xl-letter-spacing);
    --curr-font-weight: var(--heading-4xl-font-weight);
    --curr-text-transform: var(--heading-4xl-text-transform);
    font-size: var(--curr-font-size);
    line-height: var(--curr-line-height);
    letter-spacing: var(--curr-letter-spacing);
    font-weight: var(--curr-font-weight);
    text-transform: var(--curr-text-transform);
    margin: 0;
}

.getStartedBtn {
    margin-top: 2rem !important;
    text-decoration: none;
    color: #fff;
    border-color: var(--color-red-04);
    background-color: var(--color-red-04);
    padding: var(--space-8) var(--space-24);
    min-height: 2.75rem !important;
    border-radius: 0.625rem !important;
    font-size: var(--curr-font-size);
    line-height: var(--curr-line-height);
    letter-spacing: var(--curr-letter-spacing);
    font-weight: var(--curr-font-weight);
    text-transform: var(--curr-text-transform);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: 1px solid;
    overflow: visible;
    white-space: normal;
    text-transform: none;
    vertical-align: middle;
    cursor: pointer;
    transition: var(--duration-slow) var(--easing-smooth);
    user-select: none;
    min-width: 100px;
    outline: none;
    --curr-font-size: var(--heading-sm-font-size);
    --curr-line-height: var(--heading-sm-line-height);
    --curr-letter-spacing: var(--heading-sm-letter-spacing);
    --curr-font-weight: var(--heading-sm-font-weight);
    --curr-text-transform: var(--heading-sm-text-transform);
}

.img1 {
    width: 90%;
    max-width: 1256px;
}

.screenshots {
    position: relative;
    display: inline-block;
    margin: -6rem 0 -17.5rem;
}

.img2 {
    top: 13%;
    right: 14%;
    width: 41%;
    max-width: 581px;
    position: absolute;
}

.img3 {
    width: 100vw;
    max-width: 1398px;
}

.section2 {
    padding: var(--space-64) 0 var(--space-96);
    text-align: center;
}

.section2 .header {
    --curr-font-size: var(--heading-2xl-font-size);
    --curr-line-height: var(--heading-2xl-line-height);
    --curr-letter-spacing: var(--heading-2xl-letter-spacing);
    --curr-font-weight: var(--heading-2xl-font-weight);
    --curr-text-transform: var(--heading-2xl-text-transform);
    font-size: var(--curr-font-size);
    line-height: var(--curr-line-height);
    letter-spacing: var(--curr-letter-spacing);
    font-weight: var(--curr-font-weight);
    text-transform: var(--curr-text-transform);
}

.section2 p {
    font-size: var(--curr-font-size);
    line-height: var(--curr-line-height);
    letter-spacing: var(--curr-letter-spacing);
    font-weight: var(--curr-font-weight);
    text-transform: var(--curr-text-transform);
    --curr-font-size: var(--body-lg-font-size);
    --curr-line-height: var(--body-lg-line-height);
    --curr-letter-spacing: var(--body-lg-letter-spacing);
    --curr-font-weight: var(--body-lg-font-weight);
    --curr-text-transform: var(--body-lg-text-transform);
    display: inline-block;
    max-width: 47rem;
    margin: var(--space-16) 0;
}

.section2 .links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.3rem;
}