.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:root {
  --color-black-08: rgba(0, 0, 0, 0.88);
  --color-black-07: rgba(0, 0, 0, 0.66);
  --color-black-06: rgba(0, 0, 0, 0.45);
  --color-black-05: rgba(0, 0, 0, 0.24);
  --color-black-04: rgba(0, 0, 0, 0.14);
  --color-black-03: rgba(0, 0, 0, 0.08);
  --color-black-02: rgba(0, 0, 0, 0.05);
  --color-black-01: rgba(0, 0, 0, 0.02);
  --color-grey-01: #fafafa;
  --color-grey-02: #f2f2f2;
  --color-grey-03: #ebebeb;
  --color-grey-04: #dedede;
  --color-grey-05: #c2c2c2;
  --color-grey-06: #999;
  --color-grey-07: #575757;
  --color-grey-08: #1f1f1f;
  --color-red-01: #fdf4f3;
  --color-red-02: #fbe3e0;
  --color-red-03: #ee5244;
  --color-red-04: #e44232;
  --color-red-06: #d1453b;
  --color-blue-01: #f1f7fe;
  --color-blue-02: #e2f0ff;
  --color-blue-03: #3879fa;
  --color-blue-04: #316fea;
  --color-blue-06: #2064ca;
  --color-beige-01: #fcf8f3;
  --color-beige-02: #efebe6;
  --color-beige-03: #eae5de;
  --color-green-01: #f6f9f7;
  --color-green-02: #d2e0da;
  --color-green-03: #c7d4cf;
  --color-green-04: #6b8767;
  --color-gold-01: #faf6eb;
  --color-gold-02: #efe0b9;
  --color-gold-03: #e3cf91;
  --color-gold-04: #f7b84f;
  --color-yellow-03: #fffcf0;
  --color-yellow-04: #ffd669;
  --color-linkedin: #0077b5;
  --color-facebook: #1877f2;
  --color-twitter: #1da1f2;
  --color-youtube: red;
  --color-instagram: #e145a5;
  --color-base-white: #fff;
  --color-base-black: #000;
  --color-td-primary: #e44232;
  --color-td-secondary-dark: #fae8d6;
  --color-td-secondary-mid: #fff5eb;
  --color-td-secondary-light: #fff9f3;
  --color-td-cta-active: #d1453b;
  --color-td-cta-hover: #ee5244;
  --color-tw-primary: #316fea;
  --color-tw-secondary-dark: #dce7e4;
  --color-tw-secondary-mid: #f0f7f5;
  --color-tw-secondary-light: #f6f9f8;
  --color-tw-cta-active: #2a61cf;
  --color-tw-cta-hover: #3879fa;
  --color-dst-primary: #438952;
  --color-dst-secondary-dark: #f3ecd1;
  --color-dst-secondary-light: #fefbf1;
  --color-dst-cta-active: #4f7d54;
  --color-dst-cta-hover: #539359;
  --color-perceptional-green: #6b8767;
  --color-perceptional-yellow: #ffc93e;
  --color-perceptional-pink: #ffada4;
  --radius-sm: 2.5px;
  --radius-md: 4px;
  --radius-lg: 8px;
  --space-4: 0.25rem;
  --space-8: 0.5rem;
  --space-12: 0.75rem;
  --space-16: 1rem;
  --space-24: 1.5rem;
  --space-32: 2rem;
  --space-48: 3rem;
  --space-64: 4rem;
  --space-96: 6rem;
  --space-128: 8rem;
  --space-160: 10rem;
  --space-192: 12rem;
  --space-240: 15rem;
  --space-304: 19rem;
  --z-index-sticky: 100;
  --z-index-popup: 5000;
  --z-index-dialog: 6000;
  --z-index-dropdown: 7000;
  --z-index-overlay: 8000;
  --z-index-modal: 9000;
  --z-index-toast: 10000;
  --duration-fast: 150ms;
  --duration-slow: 350ms;
  --duration-long: 600ms;
  --easing-smooth: cubic-bezier(0.2, 0.8, 0.2, 1);
  --shadow-grey: rgba(0, 0, 0, 0.08);
  --shadow-color: rgba(0, 0, 0, 0.24);
  --shadow-xs: 0 2px 4px rgba(0, 0, 0, 0.04);
  --shadow-sm: 0 2px 7px 0 rgba(0, 0, 0, 0.12);
  --shadow-md: 0px 3px 20px rgba(0, 0, 0, 0.15);
  --shadow-xl: 0px 4px 64px rgba(0, 0, 0, 0.35);
  --shadow-lg: 0 2px 6px 0 rgba(0, 0, 0, 0.06), 0 7px 15px 0 rgba(0, 0, 0, 0.12);
  --shadow-hover: 0 6px 24px 0px rgba(0, 0, 0, 0.24);
  --shadow-focus-xs: 0px 2px 7px rgba(0, 0, 0, 0.14);
  --shadow-focus: 0 0 0 1px #1f60c2, 0 0 0 4px #dceaff;
  --shadow-focus-error: 0 0 0 1px #d1453b, 0 0 0 4px #fbdad7;
  --tw-drop-shadow: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.15))
    drop-shadow(0px 0px 96px rgba(49, 111, 234, 0.2));
  --tw-shadow-lg: 0px 5px 20px rgba(0, 0, 0, 0.15),
    0px 0px 96px rgba(49, 111, 234, 0.2);
  --space-vertical-section: var(--space-96);
  --space-top-hero-section: var(--space-128);
  --tw-shadow-ui-window: 0px 4px 12px -4px rgba(0,0,0,0.3),0px 4px 4px -8px rgba(0,0,0,0.1);
    --tw-shadow-ui-inner-frame: 0px 0px 10px 0px rgba(0,0,0,0.0392156862745098) inset;
    --tw-radius-lg: 8px;
    --tw-radius-md: 6px;
    --color-tw-display-onlight-primary: #222829;
    --color-tw-display-onlight-primary-dimmed: rgba(32,41,43,0.87);
    --color-tw-display-onlight-secondary: rgba(26,45,49,0.64);
    --color-tw-display-onlight-tertiary: rgba(21,49,54,0.42);
    --color-tw-display-ondark-primary: #fff;
    --color-tw-display-onlight-ruddy-brown: #b8410a;
    --color-tw-background-primary: #fafafa;
    --color-tw-background-secondary: #fff;
    --color-tw-actionable-primary-idle: #008aa6;
    --color-tw-actionable-primary-hover: #1995af;
    --color-tw-actionable-primary-text: #006f85;
    --color-tw-actionable-secondary-idle: rgba(0,64,77,0.1);
    --color-tw-actionable-secondary-hover: rgba(0,64,77,0.07);
    --color-tw-interactive-idle: rgba(0,58,77,0.07);
    --color-tw-interactive-hover: rgba(0,58,77,0.05);
    --color-tw-video-overlay-idle: rgba(34,40,41,0.8);
    --color-tw-video-overlay-hover: rgba(34,40,41,0.7);
    --color-tw-ui-divider: rgba(6,35,41,0.16);
    --color-tw-ui-background: rgba(0,64,77,0.05);
    --color-tw-card-idle: #fcfcfc;
    --color-tw-card-hover: #fff;
    --color-tw-border-idle: rgba(6,35,41,0.1);
    --color-tw-border-hover: rgba(6,35,41,0.22);
    --color-tw-box-highlight-background: #fff7eb;
    --color-tw-box-highlight-border: rgba(203,151,51,0.5);
    --color-tw-box-warning-background: #fdf5f0;
    --color-tw-box-warning-border: rgba(184,65,10,0.5);
    --font-family-tiempos-headline: "Tiempos Headline",serif;
    --font-family-tiempos-text: "Tiempos Text",serif;
    --font-family-inter: "Inter","Helvetica Neue",Helvetica,Arial,sans-serif;
    --color-tw-unselected-idle: rgba(0,64,77,0.2);
    --color-tw-unselected-hover: rgba(0,64,77,0.14);
    --color-tw-selected-idle: #008aa6;
    --color-tw-selected-hover: #1995af;
    --font-family-sans: "Graphik Web","Helvetica Neue",Helvetica,Arial,sans-serif;
    --font-family-serif: "Caecilia Web",serif;
    --font-family-espa: "Espa Extended","Graphik Web","San Francisco",Helvetica,Arial,sans-serif;
    --heading-4xl-font-size: 4.5rem;
    --heading-4xl-line-height: 1.05;
    --heading-4xl-letter-spacing: -0.04em;
    --heading-4xl-font-weight: 600;
    --heading-3xl-font-size: 4rem;
    --heading-3xl-line-height: 1.05;
    --heading-3xl-letter-spacing: -0.035em;
    --heading-3xl-font-weight: 600;
    --heading-2xl-font-size: 3.25rem;
    --heading-2xl-line-height: 1.1;
    --heading-2xl-letter-spacing: -0.02em;
    --heading-2xl-font-weight: 600;
    --heading-xl-font-size: 2.5rem;
    --heading-xl-line-height: 1.1;
    --heading-xl-letter-spacing: -0.01em;
    --heading-xl-font-weight: 600;
    --heading-lg-font-size: 1.875rem;
    --heading-lg-line-height: 1.2;
    --heading-lg-letter-spacing: -0.01em;
    --heading-lg-font-weight: 600;
    --heading-md-font-size: 1.375rem;
    --heading-md-line-height: 1.25;
    --heading-md-letter-spacing: -0.01em;
    --heading-md-font-weight: 600;
    --heading-sm-font-size: 1.125rem;
    --heading-sm-line-height: 1.25;
    --heading-sm-letter-spacing: -0.005em;
    --heading-sm-font-weight: 600;
    --heading-xs-font-size: 1rem;
    --heading-xs-line-height: 1.25;
    --heading-xs-letter-spacing: 0;
    --heading-xs-font-weight: 600;
    --subheading-font-size: 0.75rem;
    --subheading-line-height: 1.2;
    --subheading-letter-spacing: 0.02em;
    --subheading-font-weight: 400;
    --subheading-text-transform: uppercase;
    --espa-xl-font-size: 3rem;
    --espa-xl-line-height: 0.9;
    --espa-xl-letter-spacing: 0.05em;
    --espa-xl-font-weight: 400;
    --espa-xl-text-transform: uppercase;
    --espa-lg-font-size: 2.5rem;
    --espa-lg-line-height: 1.1;
    --espa-lg-letter-spacing: 0.08em;
    --espa-lg-font-weight: 400;
    --espa-lg-text-transform: uppercase;
    --espa-md-font-size: 2rem;
    --espa-md-line-height: 0.9;
    --espa-md-letter-spacing: 0.06em;
    --espa-md-font-weight: 400;
    --espa-md-text-transform: uppercase;
    --espa-sm-font-size: 1.5rem;
    --espa-sm-line-height: 0.9;
    --espa-sm-letter-spacing: 0.07em;
    --espa-sm-font-weight: 400;
    --espa-sm-text-transform: uppercase;
    --espa-prose-font-size: 1.75rem;
    --espa-prose-line-height: 1.25;
    --espa-prose-letter-spacing: 0.08em;
    --espa-prose-font-weight: 400;
    --espa-prose-text-transform: uppercase;
    --body-xl-font-size: 1.5rem;
    --body-xl-line-height: 1.35;
    --body-xl-letter-spacing: -0.01em;
    --body-xl-font-weight: 400;
    --body-lg-font-size: 1.1875rem;
    --body-lg-line-height: 1.5;
    --body-lg-letter-spacing: -0.01em;
    --body-lg-font-weight: 400;
    --body-prose-font-size: 1.1875rem;
    --body-prose-line-height: 1.65;
    --body-prose-letter-spacing: -0.005em;
    --body-prose-font-weight: 400;
    --body-md-font-size: 1rem;
    --body-md-line-height: 1.5;
    --body-md-letter-spacing: 0;
    --body-md-font-weight: 400;
    --body-sm-font-size: 0.875rem;
    --body-sm-line-height: 150%;
    --body-sm-letter-spacing: 0.005em;
    --body-sm-font-weight: 400;
    --body-xs-font-size: 0.75rem;
    --body-xs-line-height: 1.35;
    --body-xs-letter-spacing: 0.01em;
    --body-xs-font-weight: 400;
    --blockquote-lg-font-size: 1.5rem;
    --blockquote-lg-line-height: 1.6;
    --blockquote-lg-letter-spacing: -0.03em;
    --blockquote-md-font-size: 1.5rem;
    --blockquote-md-line-height: 1.6;
    --blockquote-md-font-weight: 700;
    --blockquote-md-letter-spacing: -0.03em;
    --blockquote-sm-font-size: 1.125rem;
    --blockquote-sm-line-height: 1.7;
    --blockquote-sm-letter-spacing: -0.02em;
}
